# 1. Accessing index in for loops

In [1]:
s = [8, 23, 45]

for ids, i in enumerate(s):
    print(ids, i)

for j in enumerate(s):
    print(j)

0 8
1 23
2 45
(0, 8)
(1, 23)
(2, 45)

# 2. How do I make a flat list out of a list of lists?

In [2]:
l = [
    [1, 2, 3],
    [4, 5, 6],
    [7],
    [8, 9]
]

flat_list = [item for sublist in l for item in sublist]

print(l)
print(flat_list)

print()

import itertools
res = list(itertools.chain(*l))
print(res)

[[1, 2, 3], [4, 5, 6], [7], [8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 3. Finding the index of an item in a list

In [3]:
a = ["foo", "bar", "baz"]
print(a.index("baz"))
print()
b = a.index("foo")
print(b)

["foo", "bar", "baz"].index("bar")

2

0

1

# 4. How do I concatenate two lists in Python?

In [4]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list1+list1)

print(list1+list2)

print(list2+list1)

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

# 5. How do I check if a list is empty?

In [5]:
a = []

if not a:
    print("List is empty")
else:
    print(a)

List is empty

# 6. How do I clone a list so that it doesn't change unexpectedly after assignment?

In [6]:
old_list = [10, 20, 30, 40]

new_list1 = old_list.copy()
new_list1.append(50)

new_list2 = old_list[:]

print(old_list)

print(new_list1)

print(new_list2)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 30, 40]

# 7. What is the difference between Python's list methods append and extend?

In [7]:
x = [1, 2, 3]
x.append([4, 5,6])
print(x)

[1, 2, 3, [4, 5, 6]]

In [8]:
x = [1, 2, 3]
x.extend([4, 5, 6])
print(x)

[1, 2, 3, 4, 5, 6]

# 8. How do I split a list into equally-sized chunks?

In [9]:
a = range(10, 75)

b = [a[i:i + 10] for i in range(0, len(a), 10)]

print(a)
print(b)

range(10, 75)
[range(10, 20), range(20, 30), range(30, 40), range(40, 50), range(50, 60), range(60, 70), range(70, 75)]

# 9. How to sort a list of dictionaries by a value of the dictionary in Python?

In [10]:
list_to_be_sorted = [{'name': 'Homer', 'age': 39}, {'name': 'Daniel', 'age': 40},{'name': 'Bart', 'age': 10},{'name':"Guru",
                                                                                                              "age":22}]

newlist = sorted(list_to_be_sorted, key=lambda d: d['name'])
newlist1 = sorted(list_to_be_sorted, key=lambda d: d['age']) 

print(list_to_be_sorted)
print(newlist)
print()
print(newlist1)

[{'name': 'Homer', 'age': 39}, {'name': 'Daniel', 'age': 40}, {'name': 'Bart', 'age': 10}, {'name': 'Guru', 'age': 22}]
[{'name': 'Bart', 'age': 10}, {'name': 'Daniel', 'age': 40}, {'name': 'Guru', 'age': 22}, {'name': 'Homer', 'age': 39}]

[{'name': 'Bart', 'age': 10}, {'name': 'Guru', 'age': 22}, {'name': 'Homer', 'age': 39}, {'name': 'Daniel', 'age': 40}]

# 10. How do I get the last element of a list?

In [11]:
a = [10,20,30]

print(a)
print(a[-1])
print(a[2])

[10, 20, 30]
30
30

# 11. How can I randomly select an item from a list?

In [12]:
import random

foo = ['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]

print(random.choice(foo))

b

# 12. How do I get the number of elements in a list or length of a list in Python?

In [13]:
list = ["guru", 10, 1.06, "Shiva"]

print(list)
print(len(list))

['guru', 10, 1.06, 'Shiva']
4

# 13. How to remove an element from a list by index

In [14]:
list = ["guru", 10, "Ganesh", "Shiva"]

print(list)
print()
# list.remove(list[1])
# print(list)

# or

del list[1]
print(list)

['guru', 10, 'Ganesh', 'Shiva']

['guru', 'Ganesh', 'Shiva']

# 14. How do I count the occurrences of a list item?

In [15]:
a = [10, 20, 30, 40, 10, 40, 10, 20, 40]
print(a.count(20))

[10, 20, 30, 40, 10, 40, 10].count(10)

2

3

In [16]:
from collections import Counter

z = ['blue', 'red', 'blue', 'yellow', 'blue', 'red']
result = Counter(z)

print(result)

Counter({'blue': 3, 'red': 2, 'yellow': 1})

# 15. Why is it string.join(list) instead of list.join(string)?

In [17]:
' '.join(['Welcome', 'to', 'Data Science', 'Session'])


# [].join("Guru ji you are great")

# AttributeError: 'list' object has no attribute 'join'

'Welcome to Data Science Session'

# 16. How can I make a dictionary (dict) from separate lists of keys and values?

In [18]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

d = dict(zip(keys, values))

print(d)

{'a': 1, 'b': 2, 'c': 3}

# 17. Removing duplicates in lists

In [19]:
t = [1, 2, 3, 1, 2, 3, 5, 6, 7, 8]

res = set(t) # If we list(set(t)) then we will get the list instead of set like below


print(res)

{1, 2, 3, 5, 6, 7, 8}

# 18. Get a list from Pandas DataFrame column headers

In [20]:
import pandas as pd

data = {
        "Name": ["Daniel", "Ranjan"],
        "Id": [101, 102]
}

df = pd.DataFrame(data)

print(df.columns)
print(df.columns.values)

Index(['Name', 'Id'], dtype='object')
['Name' 'Id']

# 19. How do I reverse a list or loop over it backwards?

In [21]:
list1 = [0, 10, 20, 40]

for x in reversed(list1):
    print(x)

s = [0, 10, 20, 40]
print(s[::-1])


# xs = [0, 10, 20, 40]

# print(list(reversed(xs))) this also works but jupiter notebook is showing an error it works on python tutor!

40
20
10
0
[40, 20, 10, 0]

# 20. How do I return dictionary keys as a list in Python?

In [22]:
newdict = {1:0, 2:0, 3:0}

print(newdict.keys())
# print(list(newdict.keys())) will provide us with only list of keys

dict_keys([1, 2, 3])

# 21. How do I iterate through two lists in parallel?

In [23]:
a = [1, 2, 3]
b = [4, 5, 6]

for i,j in zip(a, b):
    print(i,j)

1 4
2 5
3 6

# 22. Fastest way to check if a value exists in a list

In [24]:
a = [10, 20, 30]

print(10 in a)

True

# 23. Get difference between two lists with Unique Entries

In [25]:
temp1 = ['One', 'Two', 'Three', 'Four']
temp2 = ['One', 'Two']

# diff1 = list(set(temp1) - set(temp2))
diff2 = [value              for value in temp1          if value not in temp2]

# print(diff1)
print(diff2)

['Three', 'Four']

# 24. Difference between del, remove, and pop on lists

# remove removes the first matching value, not a specific index:

In [26]:
a = [0, 2, 3, 2]
a.remove(2)

print(a)

[0, 3, 2]

# del removes the item at a specific index:

In [27]:
a = [9, 8, 7, 6]
del a[1]

print(a)

[9, 7, 6]

# and pop removes the item at a specific index:

In [28]:
a = [2, 3, 4, 5]
a.pop(2)

print(a)

[2, 3, 5]

# 25. Get unique values from a list in python

# with using set(p) function

In [29]:
mylist = ['nowplaying', 'PBS', 'PBS', 'nowplaying', 'job', 'debate', 'thenandnow']
myset = set(mylist)

print(mylist)
print()
print(myset)

['nowplaying', 'PBS', 'PBS', 'nowplaying', 'job', 'debate', 'thenandnow']

{'debate', 'PBS', 'nowplaying', 'job', 'thenandnow'}

# without using set(p) function

In [30]:
mylist = ['nowplaying', 'PBS', 'PBS', 'nowplaying', 'job', 'debate', 'thenandnow']
unique_list = []
for val in mylist:
    if val not in unique_list:
        unique_list.append(val)
print(unique_list)

['nowplaying', 'PBS', 'job', 'debate', 'thenandnow']

# 26. Is there a simple way to delete a list element by value?

In [31]:
s = ['a', 'b', 'c', 'd', 'b', 'e', 'b']
s.remove('b')

print(s)
print()

# or

values = ['a', 'b', 'c', 'd', 'b', 'e', 'b', 'b']
result = [value for value in values if value != 'b']

print(result)

['a', 'c', 'd', 'b', 'e', 'b']

['a', 'c', 'd', 'e']

# 27. How to convert list to string

In [32]:
s = ['a', 'p', 'p', 'p', 'l', 'e']
res = ''.join(s)

print(s)
print(res)

['a', 'p', 'p', 'p', 'l', 'e']
appple

# 29. How to concatenate (join) items in a list to a single string

In [33]:
words = ['This', 'is', 'Guru']
res = ' '.join(words)

print(words)
print(res)

['This', 'is', 'Guru']
This is Guru

# 30. How do I remove the first item from a list?

In [34]:
a = ["Guru", 10, 20, 30, 40]
b = ["Ganesh", 50, 60, 70, 80]
c = ["Shiva", 100, 200, 300, 40]

a.remove("Guru")
print(a)
print()

# or
b.pop(0)
print(b)
print()

# or
del c[0]
print(c)
print()

# or
print(c[1:])

[10, 20, 30, 40]

[50, 60, 70, 80]

[100, 200, 300, 40]

[200, 300, 40]

# 31. Remove empty strings from a list of strings

In [35]:
list = ["first", "", "second", "", ""]

res = [val for val in list if val]

print(list)
print(res)

['first', '', 'second', '', '']
['first', 'second']

# 32. Shuffling a list of objects

In [36]:
from random import shuffle
r = range(1,10)

res = [[i] for i in r]
shuffle(res)

print(res)

[[9], [5], [8], [4], [2], [3], [7], [1], [6]]

# 33. Find a value in a list

In [37]:
a = [1, 0, 3]

print(2 in a)

False

# 34. Create an empty list with certain size in Python

In [38]:
a = [None] * 10
print(a)

# or
b = [None]
print(b*6)

[None, None, None, None, None, None, None, None, None, None]
[None, None, None, None, None, None]

# 35. How to convert string representation of list to a list

In [39]:
import ast

x = '[ "A","B","C" , " D"]'
y = ast.literal_eval(x)

print(x, type(x))
print(y, type(y))

[ "A","B","C" , " D"] <class 'str'>
['A', 'B', 'C', ' D'] <class 'list'>

# 36. How to check if a string is a substring of items in a list of strings

In [40]:
values = ['abc-123', 'def-456', 'ghi-789', 'abc-456']

res = [val for val in values if "abc" in val]

print(values)
print(res)

['abc-123', 'def-456', 'ghi-789', 'abc-456']
['abc-123', 'abc-456']

# 37. Convert all strings in a list to integers

In [41]:
s = ['1', '2', '3']

# res = list(map(int, s))
res1 = [int(val) for val in s]
print(s)
print(res1)

['1', '2', '3']
[1, 2, 3]

# 38. Append integer to beginning of list in Python

In [42]:
s = [1, 2, 3]

s.insert(0,20)
print(s)

[20, 1, 2, 3]

# 39. How do I find the duplicates in a list and create another list with them?

In [43]:
import collections
a = [1, 2, 3, 2, 1, 5, 6, 5, 5, 5]


res = [val for val,count in collections.Counter(a).items() if count > 1 ]
print(res)

[1, 2, 5]

# 40. How would you make a comma-separated string from a list of strings

In [44]:
my_list = ['a', 'b', 'c', 'd']
d = ','.join(my_list)

print(my_list)
print()
print(d)

['a', 'b', 'c', 'd']

a,b,c,d

# 41. Finding the average of a list

In [45]:
s = [15, 18, 2, 36, 12, 78, 5, 6, 9]
sum = 0
for i in s:
    sum += i
res = sum/len(s)
print(res)

20.11111111111111

In [46]:
import statistics as st

xs = [15, 18, 2, 36, 12, 78, 5, 6, 9]

result1 = st.mean(xs) 
# result2 = sum(xs) / len(xs)

print(xs)
print(result1)
# print(result2)

[15, 18, 2, 36, 12, 78, 5, 6, 9]
20.11111111111111

# 42. if else in a list comprehension

In [47]:
values = [22, 13, 45, 50, 98, 69, 43, 44, 1]

res = [val if val > 45 else val+6 for val in values]

print(res)

[28, 19, 51, 50, 98, 69, 49, 50, 7]

# 43. How do I split a string into a list of characters?

In [48]:
a = "Shiva"
# b = list(a)
# print(b)

# This provides the output as ['S','h','i','v','a']

# 44. Alphabet range in Python

In [49]:
import string as str

result = str.ascii_lowercase

print(result)

abcdefghijklmnopqrstuvwxyz

In [50]:
for char in map(chr,[97,98,99,100]):
    print(char)

a
b
c
d

In [51]:
# list(map(chr, range(97, 123)))

# Output is 
# ['a',
#  'b',
#  'c',
#  'd',
#  'e',
#  'f',
#  'g',
#  'h',
#  'i',
#  'j',
#  'k',
#  'l',
#  'm',
#  'n',
#  'o',
#  'p',
#  'q',
#  'r',
#  's',
#  't',
#  'u',
#  'v',
#  'w',
#  'x',
#  'y',
#  'z']

# 45. How do I split a string into a list of words?

In [52]:
value = "This is Daniel"

res = value.split(" ")
print(value)
print(res)

This is Daniel
['This', 'is', 'Daniel']

# 46. Check if multiple strings exist in another string

In [53]:
a_string = "Python Pandas Numpy Machine Learning"
matches = ["Python", "Learning"]

if any([x in a_string for x in matches]):
    print("Yes")
else:
    print("No")

Yes

# 47. How can I get list of values from dict?

In [54]:
d = {"Name": "Daniel", "Id": 101}
res = d.values()

print(res)

# or
# print(list(d.values())) This produces ['Daniel', 101]

dict_values(['Daniel', 101])

# 48. Remove all the elements that occur in one list from another

In [55]:
l1 = [1, 2, 6, 8] 
l2 = [2, 3, 5, 8]

res = [val for val in l1 if val not in l2]
print(l1)
print(l2)
print(res)

[1, 2, 6, 8]
[2, 3, 5, 8]
[1, 6]

# 49. How do I create a list with numbers between two values?

In [56]:
r = range(11, 17)
# res = list(r)

# print(res)
# Output = [11, 12, 13, 14, 15, 16]

# 50. List vs Tuple when to use

In [57]:
# List, when there is gonna be a change in data or the content is not fixed and keep changing. 
# Eg : Date, Numbers.... etc

# Tuple, when the data is never going to change. 
# Eg: Day names, Your Birthday, Months...etc